body {
    background-color: black;
}

.int-one {
    width: 285px;
    height: 40px;
    bottom: 0;
    background-color: transparent;
    margin-left: -5px;
    margin-bottom: 5px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    border-radius: 25px;
    position: absolute;
}

.img-one {
    zoom: 0.6;
    right: 0;
    bottom: 0;
    position: absolute;
}
