body {
    background: url("./Pictures/istockphoto-1468830962-612x612.jpg") no-repeat 0 0 / cover;
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 50vw;
    background-attachment: fixed;
}

.par-one {
    text-align: center;
    color: #ffffff;
    font-size: 100px;
}
