body {
    background-color: black;
}

.div-one {
    background: url("./Pictures/lead_two.jpg") no-repeat;
    width: 101%;
    height: 700px;
    background-size: cover;
    margin: -7px;
    padding: 0;
}
