body {
    background-color: black;
    padding-bottom: 2000px;
}

.div-one {
    background: url("./Pictures/lead_two.jpg") no-repeat 70% 20%;
    width: 103.5%;
    height: 350px;
    background-size: cover;
    margin: -7px;
    padding: 0;
}

.img-one {
    zoom: 0.16;
    margin: 40px;
}

.img-two {
    zoom: 0.8;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    position: absolute;
}

.par-one {
    color: #1e28b4;
    font-size: 50px;
    text-align: center;
    margin-top: 35px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
}

.par-two {
    color: #1e28b4;
    font-size: 50px;
    text-align: center;
    margin-top: -50px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
}

.img_sec_last {
    zoom: 0.5;
    bottom: 0;
    right: 0;
    margin-bottom: 185px;
    margin-right: 50px;
    position: fixed;
}

.img-last {
    bottom: 0;
    zoom: 0.9;
    margin-right: 22px;
    right: 0;
    margin-bottom: 20px;
    position: fixed;
}

.par-extra-one {
    margin-top: 90px;
    color: #1f268f;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 75px;
}

.par-three {
    font-weight: bold;
    margin-top: -100px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bold;
}

.par-four {
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin-top: -20px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.par-five {
    font-family: "Playfair Display", serif;
    font-style: italic;
    margin-top: -20px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

.img-three {
    margin-top: -130px;
    margin-right: -2px;
    right: 0;
    position: absolute;
}

.img-four {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Ensure it's a block-level element */
}

.par-six {
    font-family: "Goudy Old Style", Garamond, serif;
    font-style: italic;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}

.nav-one {
    text-decoration: none;
    margin-left: -30px;
}

.nav-one li {
    list-style: none;
    display: inline-block;
}

.bit-one {
    width: 300px;
    height: 300px;
    border: #1f268f solid 2px;
    border-radius: 20px;
    background-color: transparent;
}
