body {
    background-color: black;
}

.div-one {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: auto;
    display: flex;
    justify-content: center;
}

.div-cont-one {
    width: 104.6%;
    margin-top: -10px;
    margin-left: -10px;
    height: 100px;
    background-color: transparent;
    border-bottom: 0.5px solid #bab5b5;
}

.img-one {
    zoom: 0.1;
    margin-left: 25%;
    margin-top: 6%;
}

.par-one {
    font-size: 50px;
    color: white;
    margin-left: 40%;
    margin-top: -15%;
}

.but-one {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    border: 1px solid #2b318a;
    background-color: #2b318a;
    margin-right: auto;
    color: white;
    margin-top: 9%;
    font-size: 14px;
    font-weight: bold;
}

.nav-one {
    text-decoration: none;
    color: white;
    margin-top: -12px;
}

.nav-one ul {
    text-decoration: none;
    list-style: none;
}

.nav-one li {
    display: inline-block;
    padding: 10px;
}

.nav-one-one {
    margin-left: -35px;
    font-size: 18px;
}

.nav-one-three {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -45px;
}

.nav-one-two {
    font-size: 18px;
}

.par-two {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: -15px;
}

.email-one {
    width: 330px;
    height: 45px;
    font-size: 17px;
    margin-left: auto;
    color: white;
    margin-right: auto;
    display: block;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid white;
    padding-left: 10px;
}

.email-one::placeholder {
    padding: 10px;
    font-family: "Goudy Old Style", Garamond, serif;
    font-style: italic;
    font-size: 17px;
}

.email-two {
    width: 330px;
    padding-left: 10px;
    margin-left: auto;
    font-size: 17px;
    margin-right: auto;
    display: block;
    color: white;
    height: 45px;
    margin-top: 25px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid white;
}

.email-two::placeholder {
    padding: 10px;
    font-family: "Goudy Old Style", Garamond, serif;
    font-style: italic;
    font-size: 17px;
}

.pass-one {
    padding-left: 10px;
    width: 330px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 45px;
    margin-top: 25px;
    border-radius: 6px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.pass-one::placeholder {
    padding: 10px;
    font-family: "Goudy Old Style", Garamond, serif;
    font-style: italic;
    font-size: 17px;
}

.pass-two {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    display: block;
    width: 330px;
    height: 45px;
    margin-top: 25px;
    font-size: 17px;
    color: white;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid white;
}

.pass-two::placeholder {
    padding: 10px;
    font-family: "Goudy Old Style", Garamond, serif;
    font-style: italic;
    font-size: 17px;
}

.text-one {
    width: 330px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
    color: white;
    font-size: 17px;
    padding-left: 10px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid white;
}

.text-one::placeholder {
    padding: 10px;
    font-family: "Goudy Old Style", Garamond, serif;
    font-style: italic;
    font-size: 17px;
}

.par-three {
    margin-top: 40px;
    color: white;
    font-size: 20px;
}

.but-two {
    margin-top: -16px;
    color: white;
    margin-right: 56px;
    background-color: transparent;
    border: 1px solid white;
    width: 200px;
    font-size: 17px;
    height: 50px;
}

.but-three {
    width: 100px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    height: 50px;
    margin-top: -5px;
    margin-left: _;
    font-size: 17px;
    padding-left: 10px;
    font-size: bold;
}

.but-four {
    margin-top: -36px;
    width: 100px;
    font-size: 17px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding-left: 10px;
    margin-right: 100px;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.par-four {
    text-align: start;
    font-size: bold;
}

.img-three {
    zoom: 0.5;
    margin-top: -8px;
    margin-left: -197px;
    position: absolute;
}

.check-one[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: -30px;
}

.check-one[type="checkbox"]:checked::after {
    content: "\2713";
    /* Checkmark symbol */
    position: absolute;
    left: 7%;
    transform: translate(-50%, -50%);
    color: blue;
    /* Change checkmark color */
    font-size: 30px;
}

.par-five {
    color: white;
    font-size: 22px;
    text-align: center;
    font-family: "Goudy Old Style", Garamond, serif;
    font-style: italic;
    margin-top: 3px;
    font-weight: bold;
}

.play-img-one {
    width: 130px;
    color: white;
    position: absolute;
    margin-left: 40px;
    background-color: black;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.nav-test-one {
    text-decoration: none;
    text-align: start;
}

.nav-test-one ul {
    list-style: none;
}

.nav-test-one li {
    padding: 6px;
}

.nav-test-two {
    margin-left: -25px;
    font-weight: bolder;
}

.div-three {
    width: 320px;
    height: 100px;
    margin-top: 35px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    border: 1px solid white;
}

.input-two[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
    margin-bottom: -45px;
}

.input-two[type="checkbox"]:checked::after {
    content: "\2713";
    /* Checkmark symbol */
    position: absolute;
    left: 18%;
    transform: translate(-50%, -50%);
    color: blue;
    /* Change checkmark color */
    font-size: 35px;
}

.par-ten {
    color: white;
    margin-left: 60px;
    font-size: 23px;
    margin-top: 14px;
}

.par-ten-one {
    color: white;
    text-align: center;
}

.par-ten-two {
    color: blue;
    text-align: center;
}

.par-ten-three {
    color: white;
    text-align: center;
}

.par-ten-four {
    color: white;
    text-align: center;
}

.par-ten-five {
    color: blue;
    text-align: center;
}

.but-five {
    height: 50px;
    color: black;
    width: 170px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: blue;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid blue;
}
